$gris-Oscuro-Titulos: #424242;
$gris-Claro-fecha: #5f6368;
$gris-Texto: #414549;
$fondo-imagen:rgba(47, 42, 154, 0.48);
$azul: #68dfe7;
$font-titulo: 'Product Sans', Arial, sans-serif;
$font-texto: 'Roboto', sans-serif;
$font-fechas: 'Roboto Mono', Arial, sans-serif;
$size-texto: 1rem;
$size-subtitulo: 1.5rem;
$size-titulo: 2.25rem;
